/* ====== GENERAL ====== */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* ====== HEADER ====== */
.title {
    color: #415e91;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.motto {
    color: #415e91;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 40px;
    font-style: italic;
}

.tagline {
    display: flex;
    justify-content: center;
    color: #415e91;
    font-weight: bold;
}

/* ====== OFF-SCREEN MENU ====== */
.off-screen-menu {
    background-color:  rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: right;    
    justify-content: flex-end;
    text-align: right;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}

/* nav */
nav {
    padding: 1rem;
    display: flex-start;
    background-color: rgb(34, 37, 49);
}


/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* ====== HAMBURGER MENU ====== */

.off-screen-menu ul{
    list-style-type: none;
    padding-left: 30px;
}
.off-screen-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    display:flex;
    justify-content: flex-start;
    margin-bottom: 70px;

}
.off-screen-menu a:visited,
.off-screen-menu a:active,
.off-screen-menu a:focus{
    text-decoration: none
}


#buttonforNav {
    display: flex;
    align-items: center;         
    justify-content: space-around; 
    padding: 10px 20px;
    background-color: #d3de00; 
}

#button1, #button2, #logo {
    display: flex;
    align-items: center;        
    justify-content: center;    
    font-size: 2.7rem;            
    height: 225px;               
    flex: 1;                     
    margin: 0 10px;      
    text-decoration: none;
}

#logo {
    width: 275px;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#button1:hover {
     background-color: #665700;    
}

#button2:hover {
    background-color: #665700;    
}

.nav-title{
    margin-top: -30px;
    color: white;
    font-weight: 500;
    font-style: "Nunito";
}

.motto{
    display: flex;
    justify-content: center;
    text-decoration: bold;
    color: maroon;
    font-size: 30px;
    background-color: aqua;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#about {
    display: column;
    margin-top: -27px;
    background-color: aquamarine;
}

#brandDescription {
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.8;
    font-size: 25px;
    color: darkblue;
    padding-bottom: 20px;
}

#jab {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}

footer {
    background-color: lightskyblue;
    font-size: 25px;
    margin-top: -25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}